body {
  margin: 0;
  font-family: cursive;
  text-align: center;
}

.pink-bg {
  background: linear-gradient(to right, #ff9a9e, #fecfef);
  height: 100vh;
}

.dark-bg {
  background: #1a001a;
  color: white;
  height: 100vh;
}

.center-box {
  margin-top: 120px;
}

button {
  padding: 12px 30px;
  margin: 15px;
  background: #ff4da6;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ff1a8c;
}

.letter-box {
  background: black;
  padding: 25px;
  border-radius: 15px;
  width: 60%;
  margin: auto;
}

.memory {
  width: 250px;
  margin-top: 20px;
  border-radius: 15px;
}

.cake {
  font-size: 90px;
  cursor: pointer;
}

